.collection-block {
    margin-top: 129px;
    
}

.collection-block-inner {
    background-color:#EEE4DB;
}

.collection-block-numbering {
    font-family: Montserrat, Arial, sans-serif;
    font-weight: 300;
    font-size: 60px;
    line-height: 73px;
    color: rgba(30, 6, 6, 0.05);
    padding-left: 28px;
    padding-top: 17px;
}

.collection-block-button-activ {
    width: 31px;
    height: 3px;
    background: rgba(30, 6, 6, 0.6);
    margin-left: 31px;
}

.collection-block-button {
    width: 31px;
    height: 3px;
    background: #D6CAC2;
    margin-left: 31px;
}

.collection-block-title {
    font-family: Montserrat, Arial, sans-serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 44px;
    color: #1e0606;
}

.collection-block-production {
    font-family: Crimson Text, Arial, sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    color: #1e0606;
}

.collection-block-button-explore {
    font-family: Open Sans, Arial, sans-serif;
font-weight: bold;
font-size: 16px;
line-height: 22px;
color: #FFFFFF;
background-color: #000000;
}

.collection-block-shipping {
    font-family: Open Sans, Arial, sans-serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #ffffff;
    background: #C29974;
    padding: 14px 14px;
}
