.header {
    display: flex;
    align-items: center;
    margin-top: 50px;
    
}

.header-logo {

}

.header-logo:hover {
    opacity: 0.5;
}

.header-logo:active {
    opacity: 0.2;
}

.header-nav {
    
}

.header-menu-list {
    display: flex;
    margin-left: 60px;
}

.header-menu-item {
    margin-right: 20px;
}

.header-menu-link {
    font-family: Open Sans, Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #1E0606;
}

.header-menu-link:hover {
    opacity: 0.5;
}

.header-menu-link:active {
    opacity: 0.2;
}

.header-contact-us {
    display: flex;
    margin-left: auto;
}

.header-menu-search {
    
    }

.header-menu-link-contact {
    font-family: Open Sans, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: #1E0606;
    padding-left: 24px;
    
}

.header-menu-link-contact:hover {
    opacity: 0.5;
}

.header-menu-link-contact:active {
    opacity: 0.2;
}
