@import "header.css";
@import "collection.css";
@import "category.css";
@import "delivery.css";
@import "partners.css";
@import "about-us.css";
@import "map.css";
@import "footer.css";
@import "social-networks.css";
@import "rating-area.css";

@import "catalog.css";

@import "toys-filter.css";
@import "toys-prices.css";

@import "blog.css";
@import "pagination.css";

@import "contact-us.css";
@import "form.css";


body {
    background-color: #ffffff;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
}

.container {
    max-width: 1400px;
    padding-left: 110px;
    padding-right: 110px;
    margin-left: auto;
    margin-right: auto;
}

.button-link {
    padding: 9px 22px;
    font-family: Open Sans;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
    background: #000000;

}

.visibility-hidden {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    left: -9999px;
}