.partners-block {
    margin-top: 90px;
    margin-bottom: 90px;
}

.partners-block-list {
    display: flex;
    justify-content: space-between;
}

.partners-block-item {

}

.partners-block-link {

}

.partners-block-img {
    
}

.visibility-hidden {
    
}