.toys-prices {

}

.toys-prices-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.toys-prices-item {

}

.toys-name-product {
    text-align: center;
}

.toys-name-link {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #1E0606;
}

.toys-price-product {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #1E0606;
}